
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Scholar Tracker</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Freedash Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="~/Content/src/assets/extra-libs/c3/c3.min.css" rel="stylesheet" />
    <link href="~/Content/src/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/src/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/src/dist/css/style.min.css" rel="stylesheet">
    <link href="/Content/src//dist/css/style5.css" rel="stylesheet">
    <link href="/Content/src//dist/css/style6.css" rel="stylesheet">
    <link href="/Content/src//dist/css/style7.css" rel="stylesheet">

</head>
<body>

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-lg">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="index.html">
                            <img src="~/Content/src/assets/images/big/icon.png" alt="" class="img-fluid" height="60px" width="70px">
                            <b>Scholar Tracker</b>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                       data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left me-auto ms-3 ps-1">
                        <!-- Notification -->
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                               type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="ms-2 d-none d-lg-inline-block">
                                    <span class="text-dark">@Session["UserName"]</span> <i data-feather="chevron-down"
                                                                                                    class="svg-icon"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
                                @*<a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="user"
                                       class="svg-icon me-2 ms-1"></i>
                                    My Profile
                                </a>*@
                                <a class="dropdown-item text-black" href="@Url.Action("Index", "Home")">
                                    <i data-feather="power"
                                       class="svg-icon me-2 ms-1"></i>
                                    Logout
                                </a>
                                @*<div class="dropdown-divider"></div>
                                <div class="pl-4 p-3">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-info">
                                        View
                                        Profile
                                    </a>
                                </div>*@
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        @*  <li class="sidebar-item">
            <a class="sidebar-link sidebar-link" href=@Url.Action("Index", "HodCod") aria-expanded="false">
                <i data-feather="home" class="icon-speedometer"></i><span class="hide-menu">Dashboard</span>
            </a>
        </li>*@
                        <!--
    <li class="sidebar-item">
        <a class="sidebar-link" href=@Url.Action("ProfileodPhDScholar","HodCod") aria-expanded="false">
            <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                Profile of PhD Scholar
            </span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("PersonalD","HodCod")
           aria-expanded="false">
            <i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Personal Details</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("academicdetails","HodCod")
           aria-expanded="false">
            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Academic Details</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("ResearchD","HodCod")
           aria-expanded="false">
            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Research Details</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("courseWD","HodCod")
           aria-expanded="false">
            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Course Work</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("svD","HodCod")
           aria-expanded="false">
            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Supervisor Details</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("csvD","HodCod")
           aria-expanded="false">
            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Co-Supervisor Details</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link sidebar-link" href=@Url.Action("PublicationD","HodCod")
           aria-expanded="false">
            <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Publication Details</span>
        </a>
    </li>
        -->
                        @*<li class="list-divider"></li>*@
                        <li class="nav-small-cap"><span class="hide-menu">Components</span></li>
                        @if (Session["UserRole"].ToString() == "HODCOD")
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">PhD Master </span>
                                </a>

                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index", "Student")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Registration
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("courseWD", "HodCod")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Course Work
                                            </span>
                                        </a>
                                    </li>
                                    @*<li class="sidebar-item">
                                        <a href="@Url.Action("courseWD", "HodCod")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Allotment
                                            </span>
                                        </a>
                                    </li>*@
                                    <li class="sidebar-item">
                                        <a href="form-checkbox-radio.html" class="sidebar-link">
                                            <span class="hide-menu">
                                                Objectives
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("PublicationD", "Publication")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Publications
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index", "RDCMinutes")" class="sidebar-link">
                                            <span class="hide-menu">
                                                RDC (Minutes)
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="form-checkbox-radio.html" class="sidebar-link">
                                            <span class="hide-menu">
                                                Awarded
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (Session["UserRole"].ToString() == "GUIDE")
                        {
                            <li class="sidebar-item">

                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">Supervisor </span>
                                </a>

                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index", "Student")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Scholar Profile
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("courseWD", "Guide")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Course Work
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Objectives", "Guide")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Objectives
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("PublicationD", "Guide")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Publications
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (Session["UserRole"].ToString() == "SCHOLAR")
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="grid" class="feather-icon"></i><span class="hide-menu">Scholar </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href=@Url.Action("Index", "Student") class="sidebar-link">
                                            <span class="hide-menu">
                                                Scholar Profile
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href=@Url.Action("courseWD", "Scholar") class="sidebar-link">
                                            <span class="hide-menu">
                                                Course Work
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href=@Url.Action("svD", "Scholar") class="sidebar-link">
                                            <span class="hide-menu">
                                                Supervisor
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href=@Url.Action("Objectives", "Scholar") class="sidebar-link">
                                            <span class="hide-menu">
                                                Objectives
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href=@Url.Action("PublicationD", "Scholar") class="sidebar-link">
                                            <span class="hide-menu">
                                                Publications
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href=@Url.Action("Index", "RDCMinutes") class="sidebar-link">
                                            <span class="hide-menu">
                                                RDC's
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="bar-chart" class="feather-icon"></i><span class="hide-menu">Reports </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="chart-morris.html" class="sidebar-link">
                                            <span class="hide-menu">
                                                R1
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="chart-chart-js.html" class="sidebar-link">
                                            <span class="hide-menu">
                                                R2
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>


                        </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper">
            @RenderBody()
            <footer class="footer text-center text-muted">
                All Rights Reserved by IUL. Designed and Developed by <a href="https://iul.ac.in">Adminmart</a>.
            </footer>
        </div>
    </div>
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- apps -->
    <script src="~/Content/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/src/dist/js/app-style-switcher.js"></script>
    <script src="~/Content/src/dist/js/feather.min.js"></script>
    <script src="~/Content/src/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Content/src/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/src/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/Content/src/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/Content/src/assets/extra-libs/c3/c3.min.js"></script>
    <script src="~/Content/src/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/Content/src/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/Content/src/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/src/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/src/dist/js/pages/dashboards/dashboard1.min.js"></script>
</body>
</html>
