@model ScholarTracker.Models.MultiData
@{
    ViewBag.Title = "ViewScholar";
    Layout = "~/Views/Shared/Layout3.cshtml";
}

<div class="container-fluid mt-3">
    <div class="card p-4">

        @if (Session["UserView"] != null)
        {
            if (Session["UserView"].ToString() == "Success")
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><i class="bi bi-check-circle me-1"></i></strong>All Register Scholars...
                </div>
            }
            else
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><i class="bi bi-exclamation-triangle me-1"></i></strong> @Session["UserView"].ToString();
                </div>
            }
            Session["UserView"] = null;
        }
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>List Of All Scholars</strong></h5>

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Enrollment No.</th>
                            <th scope="col">Scholar Full Name</th>
                            <th scope="col">Admission Date</th>
                            <th scope="col">Department</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.PhDScholarList.Count > 0)
                        {
                            for (int i = 0; i < Model.PhDScholarList.Count; i++)
                            {
                                int sn = i + 1;
                                <tr>
                                    <th scope="row">@sn </th>
                                    <td>@Model.PhDScholarList[i].EnrollmentNo </td>
                                    <td>@Model.PhDScholarList[i].FullName</td>
                                    <td>@Model.PhDScholarList[i].AdmissionDate</td>
                                    <td>@Model.PhDScholarList[i].Department</td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editModal-@i"><i class="bi bi-pencil"></i>Edit</a> |
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#delModal-@i"><i class="bi bi-trash"></i>Delete</a>

                                        <div class="modal fade" id="editModal-@i" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit Scholar</h5>
                                                        <a href="#" class="close" data-bs-dismiss="modal">&times;</a>
                                                    </div>

                                                    @using (Html.BeginForm("EditScholar", "HodCod", FormMethod.Post))
                                                    {
                                                        <div class="modal-body">
                                                            <div class="row g-3">
                                                                <div class="col-md-4">
                                                                    <div class="form-floating">
                                                                        <input type="hidden" id="txtPass" name="txtPass" value="@Model.PhDScholarList[i].Password" />
                                                                        @*<label for="floatingName">Enrollment No</label>*@
                                                                        <input type="text" class="form-control" id="txtEnrNo" name="txtEnrNo" value="@Model.PhDScholarList[i].EnrollmentNo" readonly="readonly" style="background-color:lightgray;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="form-floating">
                                                                        @*<label for="floatingSelect">Active Status</label>*@
                                                                        <select class="form-select" id="txtActive" name="txtActive" aria-label="Active">
                                                                            <option value="1" selected="selected">True</option>
                                                                            <option value="0">False</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-floating">
                                                                        @*<label for="floatingName">Full Name</label>*@
                                                                        <input type="date" class="form-control" id="txtAdDate" name="txtAdDate" value="@Model.PhDScholarList[i].AdmissionDate" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        @*<label for="floatingName">Full Name</label>*@
                                                                        <input type="text" class="form-control" id="txtFullName" name="txtFullName" value="@Model.PhDScholarList[i].FullName">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        @*<label for="floatingName">Full Name</label>*@
                                                                        <input type="text" class="form-control" id="txtDepName" name="txtDepName" value="@Model.PhDScholarList[i].Department">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        @*<label for="floatingName">Full Name</label>*@
                                                                        <input type="text" class="form-control" id="txtFatherName" name="txtFatherName" value="@Model.PhDScholarList[i].FatherName">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        @*<label for="floatingName">Full Name</label>*@
                                                                        <input type="text" class="form-control" id="txtMotherName" name="txtMotherName" value="@Model.PhDScholarList[i].MotherName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <input type="submit" class="btn btn-secondary" style="background-color: #ff771d !important;" value="Save Changes" />
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="delModal-@i">
                                            <div class="modal-dialog modal-dialog-centered" style="width:350px;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete  Scholar</h5>
                                                        <a href="#" class="close" data-bs-dismiss="modal">&times;</a>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>Want To Delete Category? </h4>
                                                        <div class="form-group">
                                                            @using (Html.BeginForm("DeleteScholar", "HodCod", FormMethod.Post))
                                                            {
                                                                <div class="form-group">
                                                                    <div class="form-line disabled">
                                                                        <input type="password" id="txtPassD1" name="txtPass" class="form-control" placeholder="Enter Password" />
                                                                        <input type="hidden" id="hiddenId" name="txtID" value="@Model.PhDScholarList[i].EnrollmentNo" />
                                                                        <div id="loaderDiv" style="display: none;" align="center">
                                                                            <img src="~/Content/loader.gif" style="text-align:center;display:none" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <input type="submit" class="btn btn-secondary" style="background-color: #ff771d !important;" value="Save Changes" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>

